{% extends "layout.html" %}

{% block title %}Opret dig | {% endblock %}

{% set active_page = "register" %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <div class="w-50 card mb-3 shadow">
        <div class="card-header">Register</div>
        <div class="card-body">
            <form action="/register" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Brugernavn</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{username}}" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Adgangskode</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm" class="form-label">Gentag Adgangskode</label>
                    <input type="password" class="form-control" id="password" name="confirm" required>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Opret dig</button>
                    <a href="/login" class="btn btn-secondary">Har du allerede en bruger?</a>
                </div>
            </form>
        </div>
    </div>
    <div class="w-50">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}